div.dataTables_length label {
    float: right;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}
#apptTable  th {
    background-color: #42576a;
    color: white;

}
#apptTable_filter input{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 50%;
}
#apptTable_length select{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 34%;
}
#apptTable { margin-top:0px; }
#apptTable_length { margin-top:5px; }
#apptTable_length label { margin-bottom:0px; }
#apptTable_filter { margin:5px 5px; }
#apptTable_filter label { margin-bottom:0px; }

/* added by Md Shariful Islam */
#apptTable_wrapper .row-fluid .span4{width: 48.624%;}
#apptTable_wrapper .row-fluid .offset4:first-child {
    margin-left: -0.453%;
}